body{
  text-align: center;  
  padding: 10px 10px 10px 10px brown;
  
  background-image: url("https://www.abc.net.au/news/image/2455074-3x2-940x627.jpg");
  background-image:  opacity: 15;
  background-attachment: fixed;
  align-content: 80%;
  background-repeat: no-repeat;
  background-size: cover;
 
  background-blend-mode: lighten;  
 
} 
yAxisLeft{
  -webkit-transition: fill-opacity 300ms linear;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, "Helvetica Neue", Helvetica, sans-serif;
font-size: 25px;}  
}
#svg{
   display:block;
    margin-right: 80px;
    float:left;
}
svg{
    
   margin-right: 80px;
    padding: 10px 10px 10px 10px;
    border: 9px solid;
    border-style:double;
    background: rgba(76, 175, 80, 0.1)
    
    
    }
#yAxisRight1{
    color: green
}
#yAxisLeft{
    color: red
}

#yAxisRight{
    color: blue
}
h1{
  padding: 1px 1px 1px 1px;
  border: 20px double blue;
background: lightgrey;
    font-size: 50;
    font-style: oblique;

}